/* Small Screen */
.container {
    margin: 1rem;
  }
  
  .globals {
    margin: 5rem 0;
    text-align: center;
  }
  
  .globals__title {
    margin-bottom: 1rem;
    font-size: 2.44rem;
    color: #06D6A0;
  }
  
  .globals__title_h3{
    margin-bottom: 1rem;
    font-size: 1.55rem;
    color: #118AB2;
  }
  
  .globals__container {
    display: flex;
    flex-direction: column;
  }
  
  /* Medium Screen */
  @media (min-width: 768px) {
    .globals__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
  
  /* Large Screen */
  @media (min-width: 992px) {
    .container {
      max-width: 1200px;
      margin: 3rem auto;
    }
  }