/* Small Screen */
.container {
  margin: 1rem;
  padding: 1rem;
}

.AddMovieForm {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.AddMovieForm__left {
  display: none;
  /* margin-bottom: 1rem; */
}

.AddMovieForm__title {
  /* width: 100%; */
  color: #4361ee;
  margin-bottom: 1rem;
  font-size: 2.44rem;
  /* margin-right: 12rem; */
  text-align: center;
}

.AddMovieForm__input {
  width: 100%;
  padding: 12px 3px;
  margin-bottom: 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 7px;
  flex-direction: column;
}

.AddMovieForm__select {
  width: 100%;
  padding: 12px 3px;
  margin-bottom: 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  flex-direction: column;
}

.AddMovieForm__label {
  color: #64748b;
  margin-bottom: 1rem;
}

.AddMovieForm__button {
  /* width: 100%;
  padding: 12px 3px;
  border: none;
  border-radius: 10px;
  background-color: #4361ee;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem; */
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #4361ee;
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 100%;
  transition-duration: 0.4s;
}

.AddMovieForm__button:hover {
  background-color: blue;
  color: white;
}

.AddMovieForm__option {
  color: grey;
  text-align: center;
}

.AddMovieForm__image {
  position: absolute;
    width: 300px;
    height: 300px;
    left: 300px;
    top: 2400px;
    background: #118AB2;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

/* Medium Screen */
@media (min-width: 768px) {
  /*
     * Nothing TODO Here.
     * We dont change style AddMovieForm. 
     */
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .AddMovieForm {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
  }

  .AddMovieForm__left {
    flex-basis: 60%;
  }

  .AddMovieForm__right {
    flex-basis: 40%;
  }
}
