/* Small Screen */
.container {
    margin: 1rem;
  }
  
  .hello {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .hello__left {
    margin-bottom: 1rem;
  }
  
  .hello__title {
    color: #06D6A0;
    margin-bottom: 1rem;
    font-size: 2.44rem;
  }
  
  .hello__genre {
    color: #118AB2;
    margin-bottom: 1rem;
    font-size: 1.59rem;
  }
  
  .hello__description {
    color: #64748B;
    margin-bottom: 1rem;
  }
  
  .hello__button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 13px;
    background-color: #06D6A0;
    color: #fff;
  }
  
  .hello__image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }
  
  /* Medium Screen */
  @media (min-width: 768px) {
    /*
     * Nothing TODO Here.
     * We dont change style hello. 
     */
  }
  
  /* Large Screen */
  @media (min-width: 992px) {
    .container {
      max-width: 1200px;
      margin: 3rem auto;
    }
  
    .hello {
      margin: 0 1rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  
    .hello__left {
      flex-basis: 40%;
    }
  
    .hello__right {
      flex-basis: 60%;
    }
  }
  